APP_NAME=wei_admin_plus_api
APP_ENV=local
APP_KEY=53f2fa7ca5bec91e0c729782e5416690
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=Asia/Shanghai

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=wei_admin_plus
DB_USERNAME=root
DB_PASSWORD=root

CACHE_DRIVER=file
#使用redis作为队列驱动程序
QUEUE_CONNECTION=redis

#token有效期(秒)
TOKEN_EXPIRE=3600
#登录验证码有效期(秒)
CAPTCHA_EXPIRE=300

#资源地址
RESOURCE_URL=http://localhost/resources/
#资源上传主目录
FILE_UPLOAD_DIRECTORY=/home/web/resources/